html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

p {
	font-family: Arial;
	color: black;
}

.content {
	margin-left: 50px;
	margin-right: 50px;
}

h1 {
	color:#436C9C;
	font-family: Arial;
	font-weight:bold;
}

h2 {
	color:#436C9C;
	font-family: Arial;
	font-weight: bold;


}

h3 {
	color:#436C9C;
	font-family: Arial;
	font-weight: bold;
}


/* Ordered Lists */

ol {
	counter-reset: item;
}

li {
	display: block;
}

li:before {
	content: counters(item, ".") " ";
	counter-increment: item;
}
