html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

p {
	font-family: Arial;
	color: black;
	margin: 4px 0 4px 0;
}


/* ---------------------- Margin -------------------- */

@media (max-width: 480px) {
    .content{
       margin-left: 20px;
    }
}

@media (max-width: 320px) {
    .content{
       margin-left: 10px;
    }
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


/* Static margin = shit

.content {
	margin-left: 50px;
	margin-right: 50px;
}

*/

h1 {
	color:#436C9C;
	font-family: Arial;
	font-weight:bold;
}

/* ------------------- Ordered Lists ----------------- */

ol {
	counter-reset: item;
}

li {
	display: block;
}

li:before {
	content: counters(item, ".") " ";
	counter-increment: item;
}

/* --------------- Headers of the lists -------------- */

.list-h1 {
	color:#436C9C;
	font-family: Arial;
	margin: 4px 0 4px 0;

}

.list-h2 {
	color:#436C9C;
	font-family: Arial;
	margin: 4px 0 4px 0;
}


/* ------------------- Inside-parakomp ----------------- */

.inside-parakomp-title {
	font-weight: bold;
}

.inside-parakomp-box {
	margin: 4px 0 10px 0;
	border: 1px solid #d6d6d6;
	background-color: #f9f9f9;
	padding: 4px;
	color: #444444;
	display: inline-block;
	line-height: 24px;
}


autorname {

}

songname {

}

book-page::before {
	content: " S. "
}

book-page {
	font-weight:normal;
}

description {

}

interpret {
	font-style: italic;	

}

link {
	font-style: bold;
}

link-checked::before {
	content: "geprüft: "
}

link-checked {
	font-style: italic;
	font-weight: normal;

}

#iconYoutube {
	width: 40px;

}



/* ------------------- Tables ----------------- */

table {
	
	color:black;

	table-layout: auto;
	width: 300px; 

}

