html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

p {
	font-family: Arial;
	color: black;
}


/* ---------------------- Margin -------------------- */

@media (max-width: 480px) {
    .content{
       margin-left: 20px;
    }
}

@media (max-width: 320px) {
    .content{
       margin-left: 10px;
    }
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


/* Static margin = shit

.content {
	margin-left: 50px;
	margin-right: 50px;
}

*/

h1 {
	color:#436C9C;
	font-family: Arial;
	font-weight:bold;
}

/* ------------------- Ordered Lists ----------------- */

ol {
	counter-reset: item;
}

li {
	display: block;
}

li:before {
	content: counters(item, ".") " ";
	counter-increment: item;
}

/* --------------- Headers of the lists -------------- */

.list-h1 {
	color:#436C9C;
	font-family: Arial;
	font-weight:bold;
}

.list-h2 {
	color:#436C9C;
	font-family: Arial;
	font-weight: bold;
}


/* ------------------- Inside-parakomp ----------------- */

autorname {

}

songname {

}

book-page::before {
	content: " >>> S. "
}

book-page {

}

description {
	
}
