html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

p {
	font-family: Arial;
	color: black;
	margin: 4px 0 4px 0;
}

/* ----------------- Hide/Show on start -------------- */

.hidden {
	display: none !important;
	
}

/* ---------------------- Margin -------------------- */

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	body { margin-left: 30px;
	margin-right: 30px; }
 }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */
	body {margin-left: 20px;
	margin-right: 20px; } }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
	body {margin-left: 20px;
	margin-right: 20px;} }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	body {margin-left: 10px;
	margin-right: 10px; } }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
	body {margin-left: 10px;
	margin-right: 10px; } }
@media (min-width:1281px) { /* hi-res laptops and desktops */
	body {margin-left: 10px;
	margin-right: 10px; } }


h1 {
	color:#436C9C;
	font-family: Arial;
	font-weight:bold;
}

/* ------------------- Ordered Lists ----------------- */

ol {
	/*counter-reset: item;*/ 				/*Don't count lists right now*/

	padding: 0;
}

li {
	display: block;
	display: inline-block;
/*	counter-increment: start 3;*/			/*Don't count lists right now*/

}
/*
li:before {
	content: counters(item, ".") " ";			*//*Don't count lists right now*//*
	counter-increment: item;
}
*/

counter { /* Artifical counter */
	color:black;
}

counter::after {
  content: "    ";
}

/* --------------- Headers of the lists -------------- */

body {
	counter-reset: counter1;
}

.list-h1 {
	color:#436C9C;
	font-family: Arial;
	margin: 4px 0 4px 0;


}

.list-h2 {
	color:#436C9C;
	font-family: Arial;
	margin: 4px 0 4px 0;


}


.list-h3 {
	color:#436C9C;
	font-family: Arial;
	margin: 4px 0 4px 0;


}

li.list-h1 {
    list-style-type: none;
}

li.list-h2 {
    list-style-type: none;
}

li.list-h3 {
    list-style-type: none;
}

/* ------------------- Inside-parakomp ----------------- */

.inside-parakomp-title {
	font-weight: bold;
}

.inside-parakomp-box {
	margin: 4px 0 10px 0;
	border: 1px solid #d6d6d6;
	background-color: #f9f9f9;
	padding: 4px;
	color: #444444;
	display: inline-block;
	line-height: 24px;
}

.video-button {
	
}



autorname {

}

songname {

}

book-page::before {
	content: " S. "
}

book-page {
	font-weight:normal;
}

description {

}

interpret {
	font-style: italic;	

}

/* ------------------- Links ----------------- */

a:link {
	color: grey;
}

a:visited {
	color:black;
}

a:hover {
	color:grey;
}

a:active {
	color: grey;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

link {
	font-style: bold;
}

link-checked::before {
	content: "geprüft: "
}

link-checked {
	font-style: italic;
	font-weight: normal;

}

#iconYoutube {
	width: 40px;

}



/* ------------------- Tables ----------------- */

table {
	
	color:black;

	table-layout: auto;
	width: 300px; 

}

